<?xml version="1.0" encoding="utf-8"?>
<packages>

  <!-- Fonts -->
  <package id="droidfonts" />
  <package id="robotofonts" />
  <package id="sourcecodepro" />

  <!-- Dev + CLI tools, etc. -->
  <package id="adobeair" />
  <package id="adobeshockwaveplayer" />
  <package id="android-sdk" />
  <package id="androidstudio" />
  <package id="arduino" />
  <package id="awscli" />
  <package id="azure-cli" />
  <package id="checksum" />
  <package id="curl" />
  <package id="docker" />
  <package id="docker-compose" />
  <package id="git" />
  <package id="golang" />
  <package id="javaruntime" />
  <package id="jdk8" />
  <package id="jdk9" />
  <package id="jq" />
  <package id="jre8" />
  <package id="kubernetes-cli" />
  <package id="mongodb" />
  <package id="neovim" />
  <package id="nmap" />
  <package id="nodejs" />
  <package id="nuget.commandline" />
  <package id="nvm" />
  <package id="openssh" />
  <package id="packer" />
  <package id="pester" />
  <package id="pip" />
  <package id="postgresql" />
  <package id="psexec" />
  <package id="psget" />
  <package id="python2" />
  <package id="python3" />
  <package id="ruby" />
  <package id="rust" />
  <package id="silverlight" />
  <package id="sudo" />
  <package id="sysinternals" />
  <package id="vagrant" />
  <package id="vcredist2010" />
  <package id="vcredist2013" />
  <package id="vcredist2015" />
  <package id="vcredist2017" />
  <package id="vim" />
  <package id="wget" />
  <package id="windows-sdk-10.0" />
  <package id="wput" />

  <!-- Applications -->
  <package id="7zip" />
  <package id="adobereader" />
  <package id="atom" />
  <package id="authy-desktop"/>
  <package id="cmder" />
  <package id="discord" />
  <package id="f.lux" />
  <package id="flashplayerplugin" />
  <package id="filezilla" />
  <package id="Firefox" />
  <package id="gimp" />
  <package id="githubforwindows" />
  <package id="GoogleChrome" />
  <package id="handbrake" />
  <package id="hwinfo" />
  <package id="hyper" />
  <package id="imgburn" />
  <package id="kodi" />
  <package id="lastpass" />
  <package id="makemkv" />
  <package id="nfopad" />
  <package id="openvpn" />
  <package id="origin" />
  <package id="pia" />
  <package id="putty" />
  <package id="rsat" />
  <package id="rufus" />
  <package id="slack" />
  <package id="spotify" />
  <package id="steam" />
  <package id="SublimeText3" />
  <package id="teamviewer" />
  <package id="veracrypt" />
  <package id="virtualbox" />
  <package id="VisualStudioCode" />
  <package id="vlc" />
  <package id="windirstat" />
  <package id="winmerge" />
  <package id="winscp" />
  <package id="wireshark" />
</packages>
